@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
body {
    margin:50px auto 0 auto;
    background-color: #1B244A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("court.jpg");
    background-size: cover;
    
}


.container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    text-align: center;
    color: #EEEEEE;
    padding: 50px;
    
    margin: 0 auto;
    
    
}

.tittle{
    font-size: 30px;
    margin: 0;
}



.score{
    font-family: 'Cursed Timer ULiL', sans-serif;
    height: 70px;
    text-align: center;
    font-size: 60px;
    color: #F94F6D; 
    background-color: #080001;
    margin: 20px 0 20px 0; 
    padding-top: 10px;
    border-radius: 5px;
}

button{
    color: #F94F6D;
    font-size: bold;
    border: 1px solid #9AABD8;
    background-color: black;
    border-radius: 5px;
}

button:hover{
    font-size: 15px;
    border: 1px dashed greenyellow;
    color: #F94F6D;
}

#clearScore{
   
    border: 1px dashed #9AABD8;
    height: 100px;
    margin: auto 0 auto 0;
    color: red;
    font-weight: bold;   
}

